---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>

<h2>Visiting Students</h2>
<ol>
<li> Xinyu Ning (MS student @ESTC). May — Aug 2024</li>
<li><a href="https://zhilej.github.io/">Zhile Jiang</a> (PhD student @Aarhus University). Jul - Dec  2023</li>
<li><a href="https://www.cs.ox.ac.uk/people/abheek.ghosh/">Abheek Ghosh</a> (PhD student @Oxford University). Nov — Dec 2023</li>
<li><a href="https://aaignatiev.github.io/">Artur Ignatev</a> (MS student @St Petersburg University & @HSE University). Otc - Dec 2023</li>
<li> Iurii Dementev (MS student @St Petersburg University & @HSE University). Otc - Dec 2023</li>
<li><a href="https://orbitingflea.github.io/">Renfei Zhou</a> (BS student @IITC Tsinghua University -> PhD CMU). Sep - Dec 2022</li>
<li><a href="https://yixuanevenxu.github.io/">Yixuan Xu</a> (BS student @IITC Tsinghua University -> PhD CMU). Sep - Dec 2022</li>
<li>Enze Sun (BS student @Jiaotong University -> PhD @CUHK). Jun - Dec 2021</li>
<li> <a href="https://mmingchen.github.io/">Mingchen Ma</a> (PhD student @University of Wisconsin-Madison). Sep 2020 - Aug 2021</li>
<li> <a href="https://danschoepflin.github.io/">Daniel Schoepflin</a> (PhD student @Drexel University). Jan - Feb 2020</li>
<li><a href="https://tomer-ezra.github.io/">Tomer Ezra</a> (PhD student @Tel-Aviv University). Dec 2019</li>
<li> Zhizhen Ye (PhD student @CUHK). Aug - Dec 2019</li>
<li><a href="https://sites.google.com/view/kangningwang/home">Kangning Wang</a> (PhD student @Duke University). Apr - Jun 2019</li>
<li><a href="https://phijack.github.io/">Hongao Wang</a> (BS student @Jiaotong University -> PhD @Purdue). May - Dec 2018</li>
<li><a href="https://sites.google.com/view/xinhuang">Xin Huang</a> (PhD student @CUHK). Jun 2018 - May 2019</li>
<li><a href="https://eecs.northwestern.edu/~czu2221/">Chenhao Zhang</a> (PhD student at North-Western University), Aug 2017 - Jun 2018</li>
</ol>

<h2>Links to my Collaborators</h2>
<ul>
<li><a href="https://www.cs.tau.ac.il/~azar/">Yossi Azar</a></li>
<li><a href="http://www.cse.iitm.ac.in/~augustine/">John Augustine</a></li>
<li><a href="https://xiaohuibei.com/">	Xiaohui Bei</a></li>
<li><a href="https://cs.au.dk/~iannis/">Ioannis Caragiannis</a></li>
<li><a href="https://cs.brown.edu/people/ycheng79/">Yu Cheng</a></li>
<li><a href="https://people.csail.mit.edu/costis/">Costis Daskalakis</a></li>
<li><a href="https://www.cs.ox.ac.uk/people/edith.elkind/">Edith Elkind</a></li>
<li><a href="https://sites.google.com/view/angelofanelli">Angelo Faneli</a></li>
<li><a href="https://www.mfeldman.sites.tau.ac.il/">Michal Feldman</a></li>
<li><a href="https://www.fuhuthu.com/">Hu Fu</a></li>
<li><a href="https://www.cs.drexel.edu/~vg399/">Vasilis Gkatzelis</a></li>
<li><a href="https://sites.google.com/site/siyaoguo/">Siyao Guo</a></li>
<li><a href="https://faculty.ucmerced.edu/sim3/">Sungjin Im</a></li>
<li><a href="https://immorlica.com/">Nicole Immorlica</a></li>
<li><a href="https://eigen-space.org/">Mihail N. Kolountzakis</a></li>
<li><a href="https://homepages.laas.fr/lasserre/drupal/content/biography">Jean B. Lasserre</a></li>
<li><a href="http://pinyanlu.com/">Pinyan Lu</a></li>
<li><a href="https://www.microsoft.com/en-us/research/people/brlucier/">Brendan Lucier</a></li>
<li><a href="https://www.kameshmunagala.org/">Kamesh Mungala</a></li>
<li><a href="https://www.cs.ox.ac.uk/people/dmitrii.pasechnik/">Dmitrii Pasechnik</a></li>
<li><a href="https://yuvalperes.com/">Yuval Peres</a></li>
<li><a href="https://math-cs.spbu.ru/en/people/petrov-f-v/">Fedor Petrov</a></li>
<li><a href="https://www.cs.drexel.edu/~ep556/">Emmanouil Pountourakis</a></li>
<li><a href="https://sites.google.com/site/sinairobins">Sinai Robins</a></li>
<li><a href="https://staff.math.su.se/shapiro/">Boris Shapiro</a></li>
<li><a href="https://pages.cs.wisc.edu/~balu2901/">Balasubramanian Sivan</a></li>
<li><a href="https://research.utwente.nl/en/persons/alexander-skopalik">Alexander Skopalik</a></li>
<li><a href="http://zhihaotang.com/">Zhihao Gavin Tang</a></li>
<li><a href="https://gsai.ruc.edu.cn/english/wangzihe">Zihe Wang</a></li>
</ul>
